body{
    margin: 0;
    padding: 0;
    background: url() no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: auto; /* fondo de pantalla automatico*/
}
#navllamada{
    color: #ffa500;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: 900;

}
.btn-ingresar{
    background-color: black;
    font-weight: bolder;
    color: white;
}


#leblanc{
    max-width: 420px;
    max-height: 420px;
}
#sion{
    max-width: 420px;
    max-height: 420px;
}
#cypher{
    max-width: 420px;
    max-height: 420px;
}
#leblanc{
    max-width: 420px;
    max-height: 420px;
}
#jhin{
    max-width: 420px;
    max-height: 420px;
}
#rengar{
    max-width: 420px;
    max-height: 420px;
}

#logo{
    max-height: 80px;
    max-width: 80px;
}
#cartitas{
    position: relative;
    top: 10%;
    left: 25%;
}




/* tablas generales*/
.nav {
    position: static;
    top: 0;
    width: 100%;
    background-color: #000000;
    color: #fff;
    display: flex;
    padding: 0 16px;
    align-items: center;
    height: 56px;
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
  }
  #button1{
    background-color: red;
    border-radius: 5px;
    color: #fff;
    position: relative;
    height: 60%;
    left: 1150px;
  }
  #button2{
  background-color: rgb(1, 162, 255);
  border-radius: 5px;
  color: #fff;
  position: relative;
  height: 60%;
  left: 900px;
  }
  body{
      
      background: url("../../../assets/img/entrenador.jpeg") no-repeat center top ;
      background-size: 100%;
      font-family: sans-serif;
      height: 100vh;
      width: auto;
      
  }
  
  #titulo{
      color: blue;
      position: absolute;
      left: 30%;
      
  }
  
  #formulario{
      width: 100%;
      height: 100%;
      max-width: 40%;
      max-height: 60%;
      position: absolute;
      top: 20%;
      left: 30%;
  }
  
  table{
      table-layout: fixed;
          width: 40%;
          border-collapse: collapse;
          border: 3px solid purple;
          position: absolute;
          top: 155%;
          left: 30%;
  }
  thead th:nth-child(1) {
      width: 30%;
    }
    
    thead th:nth-child(2) {
      width: 20%;
    }
    
    thead th:nth-child(3) {
      width: 15%;
    }
    
    thead th:nth-child(4) {
      width: 35%;
    }
    
    th, td {
      padding: 20px;
    }
  
  #boton1{
      position: absolute;
      left: 76%;
      width: 15%;
  }
  #boton2{
      left: 30%;
  }
  
  .h1{
      width: 100%;
      height: 100%;
      max-width: 40%;
      max-height: 80%;
      
      top: 120%;
      left: 30%;
  }
  