<body>
    <div class="nav">
        <div>Liga Barrial</div>
        <a pButton type="button" label="Cerrar Sesion" id="button1"  href="http://localhost:4200/pages/login"></a>
        <a pButton type="button" label="Menú" id="button2" href="http://localhost:4200/pages/menu-presidente"></a>

    </div>

    <h1 id="titulo">
        {{title}}
    </h1>

    <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="p-fluid">
        <div id="formulario">
            <div class="field">
                <label for="id">Id</label>
                <input pInputText id="id" type="text" formControlName='id'>
                <p-message *ngIf="idField.errors?.['required']" severity="error"
                    text="Este campo es Obligatorio"></p-message>
            </div>
            <br>

            <div class="field">
                <label for="amount">Capital</label>
                <input pInputText id="amount" type="text" formControlName='amount'>
                <p-message *ngIf="amountField.errors?.['min']" severity="error" text="Minimo $100"></p-message>
                <p-message *ngIf="amountField.errors?.['max']" severity="error" text="Minimo $10000000000"></p-message>
            </div>
            <br>

            <div class="field">
                <label for="name">Nombre</label>
                <input pInputText id="name" type="text" formControlName='name'>
                <p-message *ngIf="nameField.errors?.['required']" severity="error"
                    text="Este campo es Obligatorio"></p-message>
                <p-message *ngIf="nameField.errors?.['minLength']" severity="error"
                    text="Minimo 4 Caracteres"></p-message>
                <i *ngIf="nameField.valid" class="pi pi-check"></i>
            </div>
            <br>

            <div class="field">
                <label for="nickname">Apodo</label>
                <input pInputText id="nickname" type="text" formControlName='nickname'>
                <p-message *ngIf="nicknameField.errors?.['minlength']" severity="error"
                    text="Minimo 4 Caracteres"></p-message>
                <p-message *ngIf="nicknameField.errors?.['maxlength']" severity="error"
                    text="Maximo 15 Caracteres"></p-message>
            </div>
            <br>

            <div class="field">
                <label for="ranking">Ranking</label>
                <input pInputText id="ranking" type="text" formControlName='ranking'>
                <p-message *ngIf="rankingField.errors?.['min']" severity="error" text="Minimo $1"></p-message>
                <p-message *ngIf="rankingField.errors?.['max']" severity="error" text="Minimo $1000"></p-message>
            </div>
            <br>

            <div class="col-12 md:col-4">
                <i class="pi"></i>
                <label for="state">Estado del Equipo</label>
                <p-message severity="info" text="Activar = Equipo Activo, Desactivar = Equipo Inactivo"></p-message>
                <div class="p-inputgroup">
                    <p-inputSwitch id="state" formControlName="state"></p-inputSwitch>
                </div>
                <p-message severity="error" text="Este campo es obligatorio"
                    *ngIf="stateField.errors?.['required']"></p-message>
            </div>
            <br>
            <hr>
            <button pButton type="submit" label="Enviar"></button>
        </div>
    </form>

    <table border="1">
        <tr>
            <th>id</th>
            <th>nombre</th>
            <th>Opciones</th>
        </tr>
        <tbody>
            <tr *ngFor="let team of teams">
                <th>{{team.id}}</th>
                <th>{{team.name}}</th>
                <th>
                    <button type="button" pButton (click)="show(team.id!)" label="Ver" icon="pi pi-eye"
                        class="mr-2" id="boton1"></button>
                </th>
            </tr>
        </tbody>
    </table>
</body>